.EmployeeSearch{
    background-color:white;
    margin: 1%;
    padding: 0 1%;
    text-align: center;
    border-radius: 18px;
    width: 90%;
}
.EmployeeSearch select{
    width: 45%;
    border: none;
    background-color: rgb(240, 238, 238);
    margin: 1%;
    padding: 1% 2%;
    font-size: 99%;
    border-radius: 63px;
}
.reset{
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 63px;
    margin: 1%;
    font-weight: bold;
    padding: 0.81%;
}